<html>
<head>
    {{>header}}
</head>
<body>
<body>
    <div class="container">
        <div class="message-container">
            <div class="message-icon"><i class="bi bi-check-circle-fill"></i></div>
            <h1>Food Item Added to the pantry Successfully!</h1>
            <p>Your food item has been successfully added to the pantry database.</p>
            <a href="/staff" class="btn btn-primary">back to staff </a>
            <a href="/viewFoodItemStaff" class="btn btn-primary">select another food item</a>
            <a href="/viewPantryFoodItemStaff" class="btn btn-primary">view the food item at each pantry</a>
        </div>
    </div>
    </body>
</html