<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="img/TSPN_logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        </a>
        <div class="navbar-collapse justify-content-end">
            <ul class="navbar-nav">
            {{#user}}
                <li class="nav-item">
                    <a class="nav-link active" >Welcome to the scottish pantry network website </a>
                </li>
            {{/user}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contact_form">Contact</a>
                </li>
                {{^user}}
                <li class="nav-item">
                    <a class="btn btn-primary me-2" href="/register" role="button">Register</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/login" role="button">login</a>
                </li>
                {{/user}}
                {{#user}}
                <li class="nav-item">
                    <a class="nav-link active" href="/Add_Food_Item">Add Food Items</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/logout" role="button">logout</a>
                </li>
                {{/user}}
            </ul>
        </div>
    </div>
</nav>