<html>
<head>
    {{>header}}
</head>
<body class="container">
<div class="text-right" style="margin-bottom: 1em;">
    <a id="Adminpagebtn" href="/admin" class="btn btn-primary">
    back to admin page
    </a>
    <a id="viewAllUserAccounts" href="/viewAllUserAccounts" class="btn btn-primary">
    view All User Accounts
    </a>
</div>
<div> User added</div>
</body>
</html>